
<h1>ประวัติการทำประเมินย้อนหลัง</h1>

<div >
    <form (ngSubmit)="onSubmit()" >
        <input type="text" [(ngModel)]="fullName" placeholder="กรอก ชื่อ นามสกุล">
        <button type="submit" >Submit</button>
      </form> 
       <select [(ngModel)]="selectedValue">
            <option  *ngFor="let item of tem;let i=index"[value]="i">{{i+1}}</option>
        </select>
</div> 


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Status</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr [(ngModel)]="items">
        <td>เบื่อ</td>
        <td>{{items[0]}}</td>
        <td rowspan="9">{{items[9]}}</td>
       </tr> 
       <tr>
        <td>ไม่มีสมาธิ</td>
        <td>{{items[1]}}</td>
       </tr> 
       <tr>
        <td>เรื่องเครียด</td>
        <td>{{items[2]}}</td>
       </tr> 
       <tr>
        <td>ทำอะไรช้าลง</td>
        <td>{{items[3]}}</td>
       </tr> 
      <tr>
        <td>คิดทำร้ายตัวเอง</td>
        <td>{{items[4]}}</td>
       </tr>
       <tr>
        <td>เบื่ออาหาร</td>
        <td>{{items[5]}}</td>
       </tr> 
       <tr>
        <td>รู้สึกไม่ดีกับตัวเอง</td>
        <td>{{items[6]}}</td>
       </tr>  
       <tr>
        <td>หลับยาก</td>
        <td>{{items[7]}}</td>
       </tr> 
       <tr>
        <td>เหนื่อยง่าย</td>
        <td>{{items[8]}}</td>
       </tr> 
    </tbody>
    
</table>
<div style="height:50vh; width:50vw">
 
     <canvas id="myChart"></canvas>
 </div> 